<article class="listing">
  <img src="{{product.movie_image}}" alt="">
  <h3>{{product.name}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{rental.owner}}
  </div>
  <div class="detail date">
    <span>release_date:</span> {{product.release_date}}
  </div>
  <div class="detail type">
    <span>Description:</span> {{product.desc}}
  </div>
</article>
