<h1>Products Admin Page</h1>

<div class="well well-sm">

  <form>
    <label>ID:</label> {{input value=newCategoryId}}
    <label>Title::</label> {{input value=newCategoryName}}
    <label>Description:</label> {{input value=newCategoryDesc}}
    <button type="submit" {{action 'addNewCategory' newCategoryId newCategoryName newCategoryDesc}}>Add</button>
  </form>

</div>

<table class="table table-striped">
  <caption>List of products</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

    {{#each model as |category|}}
      <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.desc}}</td>

      
        <td>
          <button class="btn btn-xs btn-danger" {{action 'deleteCategory' category}}>Del</button>
          <button class="btn btn-xs btn-success" {{action 'editCategory' category}}>Edit</button>
        </td>
      </tr>
    {{/each}}



  </tbody>
</table>


Total Product Counter: {{model.length}}

{{#if newCategory.isError}}
  Error!!
  {{#each newCategory.errors as |error|}}
    {{error}}
  {{/each}}
{{/if}}
